* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    max-width: 920px;
    margin: auto;
}